/* 全局的变量 */
:root {
  --color-text: #111827;
  --color-text-hl: #dc2626;
  font-size: 12px;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
}

/* Chrome Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Firefox */
.no-scrollbar {
  scrollbar-width: 0;
}

/* 在 hover 可用时, 才添加对应样式 */
@media (hover: hover) {
  .media\:hover\:amz-text-hl:hover {
    color: var(--color-text-hl);
  }
  .media\:hover\:amz-bg-hl:hover {
    background-color: var(--color-text-hl);
  }
  .media\:hover\:bg-gray-hl:hover {
    background-color: #e8e9ed !important;
  }
}

@media (hover: none) {
  .media\:hover\:amz-text-hl:active {
    color: var(--color-text-hl);
  }
  .media\:hover\:amz-bg-hl:active {
    background-color: var(--color-text-hl);
  }
}
