@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .amz-text-hl {
    color: var(--color-text-hl);
  }
  .amz-text {
    color: var(--color-text);
  }
  .amz-bg-hl {
    background-color: var(--color-text-hl);
  }
  .amz-border-hl {
    border-color: var(--color-text-hl);
  }
  .amz-container-px {
    padding: 0 3%;
  }
  .amz-max-width {
    @apply max-w-7xl;
  }
  /* 处理多行文本溢出, 适用于 webkit 浏览器和移动端 */
  .amz-truncate-2 {
    overflow: hidden;
    /** 将元素作为弹性盒子显示 */
    display: -webkit-box;
    /** 显示的行数 */
    -webkit-line-clamp: 2;
    /** 设置弹性盒子子元素的排列方式 */
    -webkit-box-orient: vertical;
  }
  /* 处理多行文本溢出, 适用于 webkit 浏览器和移动端 */
  .amz-truncate-3 {
    overflow: hidden;
    /** 将元素作为弹性盒子显示 */
    display: -webkit-box;
    /** 显示的行数 */
    -webkit-line-clamp: 3;
    /** 设置弹性盒子子元素的排列方式 */
    -webkit-box-orient: vertical;
  }
}

/* 480px 开始 font-size 自适应 */
@screen xs {
  :root {
    font-size: calc(100vw / 40);
  }
}
/* 640px 开始固定 font-size 为16px */
@screen sm {
  :root {
    font-size: 16px;
  }
}
