@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .amz-text-hl {
    color: var(--color-text-hl);
  }
  .amz-text {
    color: var(--color-text);
  }
  .amz-bg-hl {
    background-color: var(--color-text-hl);
  }
  .amz-border-hl {
    border-color: var(--color-text-hl);
  }
  .amz-container-px {
    padding: 0 3%;
  }
}

/* 480px 开始 font-size 自适应 */
@screen xs {
  :root {
    font-size: calc(100vw / 40);
  }
}
/* 640px 开始固定 font-size 为16px */
@screen sm {
  :root {
    font-size: 16px;
  }
}
