@font-face {
  font-family: 'iconfont'; /* Project id 3244652 */
  src: url('iconfont.woff2?t=1647512152210') format('woff2'),
    url('iconfont.woff?t=1647512152210') format('woff'),
    url('iconfont.ttf?t=1647512152210') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-music:before {
  content: '\e611';
}

.icon-search:before {
  content: '\e610';
}
